html,body
{
    height: 100%;
}

.imgTransit
{
    visibility: hidden;
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    .imgTransit
    {
        visibility: visible;
    }
}

.parallax1
{
    background-image: url("../img/medecineParralax.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textTitre
{
    padding-top: 25px;
    font-size: 75px;
    color: white;
}

@media only screen and (max-width: 480px)
{
    .textTitre
    {
        padding-top: 25px;
        font-size: 75px;
        color: red;
    }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    .textTitre
    {
        padding-top: 25px;
        font-size: 75px;
        color: yellow;
    }

}

.textTitreRouge
{
    padding-top: 25px;
    font-size: 75px;
    color: red;
}

.paragrapheMedecine
{
    font-size: 30px;
    color: #ffc107;
}

.bannierePresentation
{
    background-image: url("../img/technoPresentation.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgroundPresentation
{
    background-color: lightskyblue;
}

.backgroundPresentationMedecine
{
    background-color:  lightgreen;

}

.backgroundPresentationRobotique
{
    background-color:  lightsteelblue;

}

.backgroundPresentationJeuVideo
{
    background-color:  lightgoldenrodyellow;

}

.backgroundNoir
{
    background-color: black;
}

.fa_color
{
    color:blue;
    padding-top: 15px;
}

@media only screen and (max-width: 480px)
{
    .fa_color
    {
        padding-top: 50px;
        color: blue;
    }
}

.textBlanc
{
    color: white;
}

.medecineTexte
{
    font-size: 40px;
}

.robotiqueTexte
{
    font-size: 40px;
}

#facebookMedical
{
    cursor: pointer;
}

#twitterMedical
{
    cursor: pointer;
}

#imageMedecine
{
    height: 100%;
    cursor: pointer;
}

#imageRobotique
{
    height: 100%;
    cursor: pointer;
}

#imageVideo
{
    height: 100%;
    cursor: pointer;
}

img.portefolioimg {
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}
img.portefolioimg:hover {
    -moz-transform: rotate(5deg) scale(1.50);
    -webkit-transform: rotate(5deg) scale(1.50);
    -o-transform: rotate(5deg) scale(1.50);
    -ms-transform: rotate(5deg) scale(1.50);
    transform: rotate(5deg) scale(1.50);
    opacity: 1;
}

.navbar {
    background-color: #000000;
}
.navbar .navbar-brand {
    color: #acccd4;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #cff206;
}
.navbar .navbar-text {
    color: #acccd4;
}
.navbar .navbar-text a {
    color: #cff206;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #cff206;
}
.navbar .navbar-nav .nav-link {
    color: #acccd4;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #cff206;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #cff206;
    background-color: #a50f0f;
}
.navbar .navbar-toggle {
    border-color: #a50f0f;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #a50f0f;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #acccd4;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #acccd4;
}
.navbar .navbar-link {
    color: #acccd4;
}
.navbar .navbar-link:hover {
    color: #cff206;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #acccd4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #cff206;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #cff206;
        background-color: #a50f0f;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #acccd4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #cff206;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #cff206;
        background-color: #a50f0f;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #acccd4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #cff206;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #cff206;
        background-color: #a50f0f;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #acccd4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #cff206;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #cff206;
        background-color: #a50f0f;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #acccd4;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #cff206;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #cff206;
    background-color: #a50f0f;
}

.couleurFleche
{
    color: #7abaff;
}